@import '~bootstrap/scss/bootstrap';
@import '../fonts/fonts.css';

* {
  padding: 0;
  margin: 0;
}

.mycol {
  padding-left: 0;
  padding-right: 0;
}

.myrow {
  margin-left: 0;
  margin-right: 0;
}

.bold {
  font-weight: bolder;
}

.tr_title {
	color: blue;
	text-align: center;
}

.tr_center {
	text-align: center;
}

.tr_center2 {
	text-align: center;
}

.hidden {
	display: none;
}

.myborder {
  border: 1px solid red;
}

.wrapper {
  color: #3e3e3e;
  position: relative;
  background: white;
}

.header {
  padding: 0 10%;
}

.headimg {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-table {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  display: none;
}

.modal-table .modal-close {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  cursor: pointer;
}

.modal-table .flexbox {
  display: flex;
  min-height: 100vh;
  padding: 15px;
  overflow: auto;
  height: 100%;
}

.modal-table .modal-table-content {
  color: #3e3e3e;
  position: relative;
  z-index: 2;
  margin: auto;
  background: white;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  min-width: 200px;
  width: 100%;
}

.modal-table-content-close {
  position: absolute;
  top: -9px;
  right: 8px;
  font-size: 30px;
  font-family: OpenSansExtraBold;
  cursor: pointer;
  height: 34px;
}

.modal-table-content-title {
  font-size: 24px;
  font-family: OpenSansSemiBold;
  margin: 15px 0;
}

.modal-table-content-text {
  margin-bottom: 15px;
  font-size: 18px;
}

.logoblock {
  text-align: left;
  height: 100%;
}

.logoblock img {
  padding-top: 25%;
  width: 60%;
}

.contactsblock {
  line-height: 1.3;
  padding: 25px 0;
  font-size: calc(1rem + 0.8vw);
  font-family: OpenSansSemiBold;
  text-align: right;
}

.mainblock {
  padding: 0 10%;
  margin-top: 4%;
  z-index: 2;
}

.name {
  font-weight: bolder;
  text-align: right;
  color: #851d82;
  font-size: calc(1rem + 1.8vw);
}

.nameinfo {
  line-height: 1.3;
  margin-top: 20px;
  font-size: calc(1rem + 0.8vw);
}

.imgblock {
  margin-top: 100px;
}

.imgblock img {
  width: 100%;
}

.rightimg {
  height: 100%;
}

.rightimg img {
  padding-bottom: 22px;
}

.contentblock {
  margin-top: 10px;
}

.content_title {
  font-size: calc(1rem + 0.8vw);
  text-align: center;
  font-family: OpenSansExtraBold;
  background: #851d82;
  color: white;
  padding: 10px 0;
  border-radius: 30px 30px 0 0;
}

.contentblock tr {
  vertical-align: middle;
}

.contentblock td {
  padding: 20px 10px;
  /*text-align: center;*/
}

.td_left {
	width: 1%;
  /*padding: 20px 10px;*/
  text-align: left !important;
}

.tr_title {
	text-decoration: underline;
	cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.totalprice {
  text-align: center;
  padding: 10px;
  font-size: calc(1rem + 0.9vw);
}

.img1block {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.img1block img {
  width: 85%;
}

.table2 {
  margin-top: 10px;
}

.table2 th {
  text-align: center;
  font-size: calc(1rem + 0.3vw);
  font-family: OpenSansSemiBold;
  background: #e3e3e3;
  padding: 5px 10px;/*padding: 5px 10px;*/
}

.table2 td {
  font-size: 22px;
  /*text-align: left;*/
  padding: 10px 20px;/*padding: 10px 20px;*/
}

.table3 {
  margin-top: 10px;
}

.table3 th {
  text-align: center;
  font-size: calc(1rem + 0.1vw);
  font-family: OpenSansSemiBold;
  background: #e3e3e3;
  padding: 5px 5px;/*padding: 5px 10px;*/
}

.table3 td {
  /*font-size: 22px;*/
  /*text-align: left;*/
  padding: 10px 5px;/*padding: 10px 20px;*/
}

.tableprice {
  text-align: center !important;
  font-size: 30px !important;
  padding: 5px 20px !important;
}

.totalprice2 {
  text-align: center;
}

.totalprice2_title {
  text-align: center;
  padding: 40px 10px 20px 10px;
  font-family: OpenSansExtraBold;
  font-size: calc(1rem + 1.2vw);
  color: black;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.oldprice {
  font-size: 26px;
  padding: 10px 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px 0 0 30px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}

.newprice {
  margin-left: -25px;
  font-weight: bolder;
  background: linear-gradient(to bottom, #ffed00, #fbb700);
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 5px solid #ffed00;
  color: black;
}

.slim {
  font-weight: normal !important;
}

.border {
  width: 60%;
  margin: 100px auto;
  border: 0.5px solid black;
  border-radius: 50%;
}

.proposal_title {
  padding: 15px;
  background: #aecb06;
  color: white;
  line-height: 1.2;
  text-align: center;
  font-family: OpenSansExtraBold;
  font-size: calc(1rem + 0.9vw);
}

.proposal_text {
  font-size: calc(1rem + 0.8vw);
  padding: 20px 10px;
  text-align: center;
}

.proposal_option {
  margin: 5px 0;
  font-size: calc(1rem + 0.5vw);
  padding: 10px 20px;
  background: #ececec;
}

.proposal {
  margin-left: 10px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #d0d0d0 10%, white 80%);
  padding: 5px 30px;
  border: 2px solid white;
}

.proposal_rub {
  font-weight: normal !important;
  font-size: calc(1rem + 0.6vw);
}

.proposal_about {
  font-size: calc(1rem + 0.9vw);
  color: #851d82;
  text-align: center;
  font-family: OpenSansExtraBold;
  margin: 30px 10px 70px 10px;
  line-height: 1.2;
  text-shadow: 0 0 3px #851d82;
}

.proposal_text2 {
  line-height: 1.2;
  font-size: calc(1rem + 0.6vw);
  padding: 10px 20px;
  margin-bottom: 50px;
}

.payment {
  margin-top: 40px;
}

.payment .row {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, #ffed00, #fbb700);
}

.payment_step {
  color: black;
  text-align: center;
  border-right: 2px solid white;
  padding: 7px 20px;
  font-weight: bolder;
  font-size: calc(1rem + 0.8vw);
}

.payment_title {
  color: black;
  padding: 10px;
  padding-left: 10%;
  font-weight: bolder;
  font-size: calc(1rem + 0.5vw);
}

.payment_container {
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #ddd 10%, #c1c1c1);
}

.payment_text {
  text-align: center;
  font-size: calc(1rem + 0.4vw);
}

.payment_fix {
  margin: 10px 0 20px 0;
}

.payment_about {
  font-size: calc(1rem + 0.4vw);
  padding: 10px 20px;
}

.partners {
  margin-top: 50px;
  text-align: center;
  font-size: calc(1rem + 0.3vw);
}

.partners_text {
  line-height: 1.2;
  margin-bottom: 30px;
}

.partners_fix {
  margin-bottom: 100px;
}

.video_about {
  font-size: calc(1rem + 0.4vw);
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
}

.video {
  text-align: center;
  margin-bottom: 100px;
}

.feedback_container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  width: 70%;
}

.feedback_img {
  padding: 20px;
  text-align: center;
}

.feedback_img img {
  width: 100%;
  border-radius: 50%;
  border: 15px solid #e3e3e3;
}

.feedback_title {
  font-weight: bolder;
  color: gray;
  font-size: calc(1rem + 0.2vw);
  padding: 20px 0;
}

.feedback_text {
  line-height: 1.3;
  padding-right: 10%;
  font-size: calc(1rem + 0.1vw);
}

.feedback_port {
  margin: 20px 0;
}

.feedback_port img {
  width: 15%;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left {
  padding-right: 10px !important;
  padding-left: 10%;
}

.feedback_more {
  font-size: calc(1rem + 0.4vw);
  text-align: center;
  padding: 10px 20px;
  font-weight: bolder;
  color: gray;
  border-radius: 30px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.feedback_aboutblock {
  margin: 100px 0 200px 0;
}

.feedback_about {
  text-align: center;
  margin: 30px 10px;
  font-size: calc(1rem + 0.6vw);
  line-height: 1.2;
}

.footer {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  height: auto;
  background: url("images/footer.png") no-repeat;
}

.footer img {
  width: 180px;
}

.imgblock.print-version {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  display: none;
}

.imgblock.print-version .leftimg {
  margin-right: 10px;
}

.imgblock.print-version .rightimg {
  margin-left: 10px;
}

.imgblock.print-version .leftimg img {
  width: 555px;
}

.imgblock.print-version .rightimg img {
  width: 259px;
}

.variants {
  margin-top: 30px;
  margin-bottom: 20px;
}

.variants .variant {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.variants .variant .curcle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #851d82;
  margin-right: 15px;
}

.variants .variant .text {
  font-size: 18px;
  font-weight: bolder;
}

.contentblock3 .print-version {
  display: none;
}

@media screen and (max-width: 576px) { /*576*/
	.modal-table .modal-table-content {
		max-width: 400px;
	}
	
  .feedback_more {
    width: 100%;
  }

  .video iframe {
    width: 100%;
    height: 400px;
  }

  .proposal_option {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .proposal {
    display: block;
    margin: 0;
  }

  .oldprice {
    border-radius: 30px;
    display: block;
  }

  .newprice {
    margin-left: 0;
    margin-top: -10px;
    display: block;
  }
  /*
  .table2 {
	  border: none;
  }
  
  .table2 th {
	  display: none;
  }
  
  .table2 tr {
	display: block;
	margin-bottom: 15px;
	border-bottom: 1px solid #9A9A9A;
  }
 
  .table2 tr:first-child {
	display: none;
  }

  .table2 td {
	display: block;
    font-size: 14px;
	text-align: right;
	border-bottom: 1px dotted #9A9A9A;
	border-right: 1px solid #9A9A9A;
  }
  
  .table2 td:last-child {
    border-bottom: 0;
  }
  
  .table2 td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  
    .table3 {
	  border: none;
  }
  
  .table3 th {
	  display: none;
  }
  
  .table3 tr {
	display: block;
	margin-bottom: 15px;
	border-bottom: 1px solid #9A9A9A;
  }
  
  .table3 tr:first-child {
	display: none;
  }

  .table3 td {
	display: block;
    font-size: 14px;
	text-align: right;
	border-bottom: 1px dotted #9A9A9A;
	border-right: 1px solid #9A9A9A;
  }
  
  .table3 td:last-child {
    border-bottom: 0;
  }
  
  .table2 td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  
    .table3 td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
*/
  .tableprice {
    font-weight: bolder;
    /*font-size: 16px !important;*/
  }

  .img1block img {
    width: 100%;
  }

  .img1block {
    margin-top: 100px;
  }

  .nameinfo,
  .name,
  .header {
    text-align: center !important;
  }

  .contactsblock {
    text-align: center;
  }

  .logoblock {
    text-align: center;
  }

  .name {
    margin-top: 50px;
  }

  .feedback_port img {
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .feedback_container {
    text-align: center;
  }

  .feedback_text {
    padding: 20px 10px !important;
  }

  .feedback_port {
    padding: 20px 10px !important;
  }

  .feedback_port img {
    margin: 0 10px !important;
  }

  .logoblock img {
    padding-top: 20%;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .logoblock {
    text-align: center;
  }

  .logoblock img {
    padding-top: 10%;
    width: 40%;
    padding-bottom: 5%;
  }

  .contactsblock {
    text-align: center;
  }

  .headimg {
    display: none;
  }

  .header {
    background: #e3e3e3;
  }

  .feedback_container {
    width: 100%;
  }

  .payment {
    text-align: center;
  }

  .payment_step {
    border-right: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  }

  .proposal_text2 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .imgblock img {
    margin-bottom: 40px;
  }

  .headimg {
    height: 280px;
  }
}

@media screen and (max-width: 1470px) {
  .headimg {
    height: 300px;
  }
}

@media print {
  .logoblock img {
    padding-top: 13%;
    width: 140px;
  }

  .contactsblock {
    font-size: 20px;
    padding-top: 15px;
  }

  .nameblock .name {
    text-align: center;
  }

  .nameblock .nameinfo {
    font-size: 20px;
    text-align: center;
  }

  .imgblock {
    display: none;
  }

  .imgblock.print-version {
    display: flex;
  }

  .contentblock .print-version {
    display: none;
    margin-bottom: 30px;
  }

  .contentblock .content_title {
    background: #e3e3e3;
    color: #851d82;
  }

  .contentblock2 .proposal_title {
    margin-top: 30px;
    color: #851d82;
    background: #e3e3e3;
    font-size: 20px;
  }

  .contentblock2 .proposal_text {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
  }

  .contentblock2 .proposal_text2 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 20px 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contentblock2 .print-version {
    display: none;
  }

  .contentblock2 .proposal_about {
    padding: 15px 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    background: #e3e3e3;
  }

  .contentblock3 .content_title {
    font-size: 20px;
    color: #851d82;
    background: #e3e3e3;
    border-radius: 20px 20px 0 0;
  }

  .contentblock3 .pc-version {
    display: none;
  }

  .contentblock3 .print-version {
    display: block;
  }

  .contentblock3 .payment_about {
    padding-left: 0;
    padding-bottom: 10px;
  }

  .contentblock3 .partners {
    margin-top: 15px;
    padding: 10px 15px;
    background: #e3e3e3;
  }

  .contentblock3 .partners .partners_fix {
    margin-bottom: 10px;
  }

  .contentblock3 .proposal_about {
    margin: 0;
    color: white;
    background: #851d82;
    padding: 15px;
    font-size: 22px;
  }

  .hide {
    display: none;
  }

  .contentblock4 .video {
    display: none;
  }
}
.whatsapp-button {
		
		//*position: fixed;*/
		right: 13px;
		bottom: 90px;
		transform: translate(-50%, -50%)	;
		background: #25D366;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		color: #fff;
		text-align: center;
		line-height: 53px;
		font-size: 35px;
		z-index: 9999;
		}
		
		.whatsapp-button a {
		color: #fff;
		}

		.whatsapp-button:before,
		.whatsapp-button:after {
		content: " ";
		display: block;
		position: absolute;
		border: 50%;
		border: 1px solid #25D366;
		left: -20px;
		right: -20px;
		top: -20px;
		bottom: -20px;
		border-radius: 50%;
		animation: animate 1.5s linear infinite;
		opacity: 0;
		backface-visibility: hidden; 
		}
		
		.whatsapp-button:after{
		animation-delay: .5s;
		}
		
		@keyframes animate
		{
		0%
		{
        transform: scale(0.5);
        opacity: 0;
		}
		50%
		{
        opacity: 1;
		}
		100%
		{
        transform: scale(1.2);
        opacity: 0;
		}
		}
		@media (max-width : 800px) {  
		.whatsapp-button {   
		bottom: 5px;
		left: 70px;
		}
		
		.whatsapp-button {
		width: 100px; /*ширина кнопки*/
		height: 100px; /*высота кнопки*/
		line-height: 97px;
		font-size: 65px;
		
		}
		}
