@font-face {
    font-family: OpenSans;
    src: url(./opensans.ttf);
  }
  
  @font-face {
    font-family: OpenSansLight;
    src: url(./opensanslight.ttf);
  }
  
  @font-face {
    font-family: OpenSansSemiBold;
    src: url(./opensanssemibold.ttf);
  }
  
  @font-face {
    font-family: OpenSansExtraBold;
    src: url(./opensansextrabold.ttf);
  }